<header
  class='fixed inset-x-0 top-0 z-50 transition-all duration-500'
>
  <nav class='relative z-50 flex items-center justify-between gap-3 p-3'>
    <a href='#top' aria-label='home' class='pointer-events-auto'>
      <img
        src='logo.jpeg'
        alt='logo'
        class='h-12 w-auto rounded-full'
      />
    </a>
    <div class='flex gap-2'>
      <ul
        class='bg-green-700 text-white rounded-full hidden flex-wrap items-center gap-4 px-4 py-1 shadow-md sm:flex'
      >
        <li>
          <a href='#top'>Inicio</a>
        </li>
        <li>
          <a href='#services'>Servicios</a>
        </li>
        <li>
          <a href='#about'>Acerca de</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
